%h3.grey Crypto Dashboard

.columns
  .column
    = fmt2 @bal_total
    USD

- @balances.each_slice(4) do |balances|
  .columns
    - balances.each do |balance|
      .column.asset
        = partial "balance", locals: { balance: balance }
