%h3.grey Crypto Dashboard

.columns
  .column
    = fmt2 @bal_total
    USD

- columns_num = 4
- @balances.each_slice(columns_num) do |balances|
  .columns
    - balances.each do |balance|
      .column.asset.is-desktop
        = partial "balance", locals: { balance: balance }
    - empty_cols = columns_num - balances.size
    - empty_cols.times do
      .column.empty
