/* bulma overrides */

.title {
  color: #AAA;
}

.box {
  background: #222;
}

/* helpers */

.s3 { height: 3px; }
.s5 { height: 5px; }
.s10 { height: 10px; }
.s20 { height: 20px; }
.s30 { height: 30px; }
.s40 { height: 40px; }
.s50 { height: 50px; }
.s60 { height: 60px; }
.s70 { height: 70px; }
.s80 { height: 80px; }
.s90 { height: 90px; }
.s100 { height: 100px; }

/* -------- */

section.content h3 {
  color: #AAA;
}

.chart {
  width: 400px;
  height: 300px;
  position: relative;
  top: -1px;
  left: -30px;
}

svg rect[width="2"] {
  fill: #444;
}

.asset img {
  margin-right: 7px;
  position: relative;
  top: 7px;
}

.asset .amounts {
  position: relative;
  top: -13px;
}

.mini {
  font-size: 0.9em;
  line-height: 1.3em;
}

.asset span.asset-name i {
  font-size: 0.7em;
}
